[submodule "ethereum-plugin-sdk"]
	path = ethereum-plugin-sdk
	url = git@github.com:LedgerHQ/ethereum-plugin-sdk.git
[submodule "app-ethereum"]
	path = app-ethereum
	url = git@github.com:LedgerHQ/app-ethereum.git
